:root {
    --button-primary-bg: rgba(0, 57, 85);
    --sidebar-bg: rgba(0, 57, 85);
    --sidebar-logo-color: #ffffff;
    --sidebar-menu-header-color: #ffffff;
    --sidebar-menu-icon-color: #ffffff;
    --sidebar-menu-color: #ffffff;
}